all.txt
freq-todo.txt
n1.txt
n1-2-pl.txt
n2.txt
n3.txt
n1-4-pl.txt
n3-4-pl.txt
n4.txt
n5.txt
n1-6-pl.txt
n5-6-pl.txt
n7-6-pl.txt
n14-6-pl.txt
n6.txt
n7.txt
n7-8-pl.txt
n8.txt
n9.txt
n9-10-pl.txt
n9-6-pl.txt
n10.txt
n12.txt
n12-13-pl.txt
n12-all.txt
n13-all.txt
n13.txt
n14.txt
n15.txt
n16.txt
n17.txt
n18.txt
verbs.txt
verbs-multi.txt
verbs-imper.txt
verbs-inf.txt
verbs-neginf.txt
verbs-infl.txt
verbs-reginfl.txt
verbs-li.txt
verbs-ndi.txt
vadjs.txt
other.txt
actual.txt
any.txt
irreg-adjs.txt
adjs.txt
poss.txt
preps.txt
rel.txt
this1.txt
this2.txt
that1.txt
that2.txt
dem.txt
interr.txt
numbers.txt
suspect.txt
badclusters.txt
